<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/e-sbitar.png" type="">
    <title> e-sbitar</title>
    <link rel="stylesheet" href="css/signup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form id="signup-form">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input id="userName" type="text" placeholder="Enter your username" maxlength="25" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input id="email" type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input id="password" type="password" placeholder="Enter your password" minlength="4" required>
          </div>

        </div>

        <div class="login_link">you are a member? <a href="login2.html">login</a></div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      <script>
      console.log("hello");
       $(document).ready(function() {
       $('#signup-form').submit(function(event) {
    event.preventDefault();
console.log("hello");
    // Récupérer les valeurs des champs email et password
    var userName= $('#userName').val();
    var email = $('#email').val();
    var password = $('#password').val();
console.log("moi");
var data= {
        userName: userName,
        email: email,
        password: password

      };
    // Envoyer les données du formulaire au backend avec AJAX
    $.ajax({
      url: 'http://localhost:8080/singup', // Remplacez "URL_DU_BACKEND" par l'URL réelle du backend pour l'inscription
      type: 'POST',
      data:JSON.stringify(data),
      contentType: 'application/json',
      success: function(response) {
        // Rediriger vers la page health.html après la création du compte
        console.log("success");
        window.location.href = 'http://localhost:63342/tp2/templates/index.html';
      },
      error: function(xhr, textStatus, errorThrown) {
        console.log('Erreur:', errorThrown);
        // Gérer les erreurs d'inscription
      }
    });
  });
});
      </script>
    </div>
  </div>


</body>
</html>